.codeBlock {
  position: relative;
  border: 1px solid var(--color-border);

  &:has(> :focus-visible) {
    @mixin focus-stroke -3px;
  }

  & .header {
    isolation: isolate;
    position: relative;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    height: 29px; /* Includes the bottom border. */
    padding-inline-start: var(--layout-gutter);
    border-block-end: 1px solid var(--color-border);

    color: var(--color-background-dither);

    &::before {
      @mixin dither-25;

      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
    }
  }

  /* Specific enough to override the icon `Button` as the stylesheets do not load in a fixed order. */
  & .copyControl > button {
    width: 28px;
    height: 28px;
    border-block: none;
    border-inline-end: none;
    border-radius: 0;

    &:focus-visible {
      @mixin focus-stroke 1px;

      outline: none;
    }
  }

  & pre {
    overflow-x: auto;

    padding: var(--layout-gutter);

    font: var(--font-code);
    color: var(--color-syntax-foreground);

    background: var(--color-background-secondary);

    &:focus-visible {
      outline: none;
    }
  }
}

.languageLabel {
  @mixin bitmap-label;
  @mixin dither-text;
}

@media print {
  .codeBlock .header > :not(.languageLabel) {
    display: none;
  }

  .codeBlock pre {
    overflow-x: visible;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }
}
