.codeBlock {
  position: relative;
  border: 1px solid var(--color-border);

  &:has(> :focus-visible) {
    @mixin focus-stroke -3px;
  }

  & .header {
    @mixin dither-25;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    height: 29px; /* Includes the bottom border. */
    padding-inline: var(--layout-gutter) 2px;
    border-block-end: 1px solid var(--color-border);

    color: var(--color-background-dither);
  }

  & pre {
    overflow-x: auto;
    padding: var(--layout-gutter);
    font: var(--font-code);

    &:focus-visible {
      outline: none;
    }
  }
}

.languageLabel {
  @mixin bitmap-label;
  @mixin dither-text;
}
