.codeBlock {
  --focus-frame-inset: -3px;

  composes: focusFrameWithin from global;
  border: 1px solid var(--color-border);

  & .header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    height: 28px;
    padding-inline: var(--layout-gutter) 2px;
    border-block-end: 1px solid var(--color-border);

    color: var(--dither-color-faint);

    background: var(--dither-25);
  }

  & pre {
    overflow-x: auto;
    padding: var(--layout-gutter);
    font: var(--font-code);

    &:focus-visible {
      outline: none;
    }
  }
}

.languageLabel {
  composes: ditherText bitmapLabel from global;
}
