.waitlist {
  position: relative;
  border: 1px solid var(--color-border);

  & .body {
    display: flex;
    flex-direction: column;
  }

  & .header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: var(--layout-gutter);

    background: var(--color-background);
  }

  & .title {
    font: var(--font-heading-3);
  }

  & .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    &[inert] {
      visibility: hidden;
    }
  }

  & .emailAddressField {
    flex: 999 1 16ch;
  }

  & .submitButton {
    flex: 1 1 auto;
  }

  & .emailAddressFieldFrame,
  & .submitButton {
    -webkit-text-stroke-width: 0;

    &:focus-within {
      box-shadow: 0 0 0 1px var(--color-background);
    }
  }

  & .confirmation {
    display: flex;
    gap: 6px;
    align-items: flex-start;
    align-self: center;

    color: var(--color-foreground-secondary);

    &:focus {
      outline: none;
    }
  }

  & .checkmark {
    flex: none;
    margin-block-start: 3.5px; /* Aligns the checkmark with the message's first line. */
    filter: drop-shadow(1px 0 0 var(--color-background)) drop-shadow(-1px 0 0 var(--color-background))
      drop-shadow(0 1px 0 var(--color-background)) drop-shadow(0 -1px 0 var(--color-background));
    stroke-width: 1.75px;
  }

  & .scrim {
    pointer-events: none;

    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-foreground-secondary);

    background: var(--color-scrim);
  }

  &[data-joined] .confirmation {
    color: var(--color-success);
  }
}

.formArea {
  @mixin dither-text;

  position: relative;
  display: grid;
  padding: var(--layout-gutter);
  border-block-start: 1px solid var(--color-border);

  &::before {
    @mixin dither-25;

    content: "";
    position: absolute;
    inset: 0;
    color: var(--color-background-dither);
  }

  & > * {
    position: relative;
    grid-area: 1 / 1;
  }
}

.joiningStatus {
  @mixin visually-hidden;
}
