.overlay {
  /* Variables set from JS. */
  --loading-cover-fade-ms: 0ms;
  --desktop-reveal-ms: 0ms;

  position: fixed;
  z-index: 9999;
  inset: 0;
}

.backdrop {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      180deg,
      rgb(22 19 15) 40%,
      rgb(22 19 15 / 99.2%) 47.07%,
      rgb(22 19 15 / 96.8%) 52.83%,
      rgb(22 19 15 / 93%) 57.47%,
      rgb(22 19 15 / 87.9%) 61.2%,
      rgb(22 19 15 / 81.9%) 64.22%,
      rgb(22 19 15 / 74.9%) 66.74%,
      rgb(22 19 15 / 67.2%) 68.95%,
      rgb(22 19 15 / 58.9%) 71.05%,
      rgb(22 19 15 / 50.3%) 73.26%,
      rgb(22 19 15 / 41.5%) 75.78%,
      rgb(22 19 15 / 32.6%) 78.8%,
      rgb(22 19 15 / 23.8%) 82.53%,
      rgb(22 19 15 / 15.4%) 87.17%,
      rgb(22 19 15 / 7.37%) 92.93%,
      rgb(22 19 15 / 0%) 100%
    ),
    #2e2b24;

  &::after {
    content: "";

    position: absolute;
    inset: 0;

    opacity: 0.5;
    background-image: var(--noise-texture);
    mix-blend-mode: soft-light;
  }

  /* TODO: Positioning on narrow displays. */
  & .spotlight {
    position: absolute;
    right: -32px;
    bottom: 48px;
    left: -32px;

    height: 96px;
    border-radius: 50%;

    background: #b0a897;
    filter: blur(40px);
  }
}

.stage {
  position: absolute;
  z-index: 2;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  will-change: filter, opacity, transform;
  position: relative;
  display: flex;
  transition: opacity var(--loading-cover-fade-ms) ease-out;

  &.hidden {
    opacity: 0;
  }

  &.blurring {
    transform: scale(0.9);
    opacity: 0;
    filter: blur(16px);
    transition:
      filter var(--desktop-reveal-ms) ease-in,
      opacity var(--desktop-reveal-ms) ease-in,
      transform var(--desktop-reveal-ms) ease-in;
  }

  & .diskActivityIndicator {
    /* Pin colors. */
    --icon-foreground: #000;
    --icon-background: #fff;

    position: absolute;
    transform: translate(-50%, -50%);
    height: auto;

    :global(.led) {
      opacity: 0;
    }

    &.reading :global(.led) {
      animation: disk-activity 2s step-end infinite;
    }
  }

  & img {
    display: block;
    max-width: 95vw;
    max-height: 90dvh;
  }
}

@keyframes disk-activity {
  0% {
    opacity: 1;
  }

  7% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  16% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  31% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  38% {
    opacity: 0;
  }

  47% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  73% {
    opacity: 1;
  }

  77% {
    opacity: 0;
  }

  81% {
    opacity: 1;
  }

  88% {
    opacity: 0;
  }
}

.displayMask {
  --display-scale: 1; /* Set from JS. */

  position: fixed;
  z-index: 1;
  transition: opacity var(--loading-cover-fade-ms) ease-out;

  /* Fades in with the illustration it is laid over. */
  &.hidden {
    opacity: 0;
  }

  & .display {
    /* Pin colors. */
    --icon-foreground: #000;
    --icon-background: #fff;

    width: 100%;
    height: 100%;
  }

  &.revealing {
    z-index: 3;
  }
}

.viewableArea {
  --inset: 0; /* Set from JS. */

  position: absolute;
  inset: var(--inset);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: calc(16px * var(--display-scale));

  background: var(--wallpaper) fixed;

  &.hidden {
    opacity: 0;
  }

  &.growing {
    border-radius: 0;
    transition:
      inset var(--desktop-reveal-ms) ease-in,
      border-radius calc(var(--desktop-reveal-ms) / 2) ease-in calc(var(--desktop-reveal-ms) / 2);
  }
}

.filterDefinitions {
  position: absolute;
  width: 0;
  height: 0;
}

.screen {
  display: flex;
  filter: url("#boot-screen");
}

.logo {
  /* Pin colors. */
  --icon-foreground: var(--color-dark);
  --icon-background: var(--color-light);

  width: calc(64px * var(--display-scale));
  height: auto;

  :global(.foreground) {
    opacity: 1;
  }
}

.welcomeDialog {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(288px * var(--display-scale));
  height: calc(104px * var(--display-scale));
  margin: 0;
  border: calc(1px * var(--display-scale)) solid var(--color-foreground);

  font: var(--font-chrome);
  font-size: calc(16px * var(--display-scale));
  color: var(--color-foreground);
  letter-spacing: var(--font-chrome-letter-spacing);

  background: var(--color-background);

  &::before {
    content: "";
    position: absolute;
    inset: calc(2px * var(--display-scale));
    border: calc(2px * var(--display-scale)) solid var(--color-foreground);
  }
}

.cover {
  position: absolute;
  z-index: 4;
  inset: 0;

  background: var(--color-dark);
  mix-blend-mode: multiply; /* TODO: Figure out workaround for missing `plus-darker`. */

  transition: opacity var(--loading-cover-fade-ms) ease-out;

  &.leaving {
    opacity: 0;
  }
}

.loadingLayer {
  position: absolute;
  z-index: 5;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity var(--loading-cover-fade-ms) ease-out;

  &.leaving {
    opacity: 0;
  }

  & .loadingMessage {
    margin-bottom: 80px;
    font: var(--font-console);
    color: var(--color-light);

    .block {
      animation: blink 1s step-end infinite;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
