.menu {
  position: absolute;
  z-index: 1500;
  top: 100%;
  left: 0;

  min-width: 220px;
  padding: 4px 0;
  border: 1px solid var(--color-foreground);

  background: var(--color-background);
  box-shadow: var(--drop-shadow);
}

.item {
  cursor: default;
  user-select: none;

  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 31px;
  padding: 0 17px;
  border: 0;

  font: var(--font-chrome);
  color: var(--color-foreground);
  text-align: left;
  letter-spacing: var(--font-chrome-letter-spacing);
  white-space: nowrap;

  background: transparent;

  &.active {
    color: var(--color-background);
    background: var(--color-foreground);
  }

  &.disabled {
    color: var(--color-muted);
  }
}

.shortcut {
  display: inline-flex;
  gap: 2px;
  align-items: center;

  & .modifier {
    width: 16px;
    height: 16px;
  }
}

.accessory {
  width: 16px;
  height: 16px;
}

.separator {
  display: flex;
  align-items: center;
  height: 9px;
  padding: 0 1px;

  &::before {
    content: "";
    flex: 1;
    border-top: 1px dotted var(--color-foreground);
  }
}
