.control {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 8px;

  &:active {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}

.icon {
  width: 22px;
  height: 22px;
}

.time {
  user-select: none;

  padding: 0 8px;

  font: var(--font-chrome);
  color: var(--color-foreground);
  letter-spacing: var(--letter-spacing-chrome);
  white-space: nowrap;
}
