.list {
  --color-row-open: color-mix(in oklab, var(--color-foreground) 12%, transparent);
  --header-rule-gap: 3px;
  --header-height: 28px; /* Not including the rule gap. */
  --gap-column: 24px;
  --gap-icon: 8px;
  --icon-size: 16px;
  --title-min-width: 204px;
  --title-padding: 2px 4px;
  --meta-width: 120px;
  --row-padding-block: 6px;

  container-type: inline-size;
  font: var(--font-ui);
}

.header,
.row {
  display: grid;
  grid-template-columns: minmax(var(--title-min-width), 1fr) auto auto;
  padding-inline: var(--gutter);
}

.header {
  position: sticky;
  z-index: 1;
  top: 0;

  align-items: center;

  block-size: calc(var(--header-height) + var(--header-rule-gap));
  padding-block-end: var(--header-rule-gap);
  border-block-end: 1px solid var(--color-border);

  background:
    linear-gradient(var(--color-border) 0 0) no-repeat left 0 bottom var(--header-rule-gap) / 100% 1px,
    var(--color-background);
}

.row {
  align-items: start;

  padding-block: var(--row-padding-block);
  border-block-end: 1px solid var(--color-border-muted);

  text-decoration: none;

  outline: none; /* The selected title is the focus indicator. */

  &.open {
    background: var(--color-row-open);
  }

  [data-scrolled-to-end] &:last-child {
    border-block-end-color: transparent;
  }
}

.cellTitle {
  position: relative;
  padding-inline-start: calc(var(--icon-size) + var(--gap-icon));
}

.icon {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;

  display: flex;
  align-items: center;

  inline-size: var(--icon-size);
  block-size: var(--font-ui-line-height);

  & svg {
    inline-size: var(--icon-size);
    block-size: var(--icon-size);
  }
}

.title {
  padding: var(--title-padding);
  box-decoration-break: clone;

  .row & {
    font: var(--font-ui-bold);
  }

  .row:focus & {
    color: var(--color-highlight-foreground);
    background: var(--color-highlight);
  }
}

.cellCategory,
.cellDate {
  overflow: hidden;

  inline-size: var(--meta-width);
  margin-inline-start: var(--gap-column);

  text-overflow: ellipsis;
  white-space: nowrap;
}

@container (width < 480px) {
  .cellCategory {
    display: none;
  }
}

@container (width < 328px) {
  .cellDate {
    display: none;
  }
}
