.layer {
  pointer-events: none;

  position: absolute;
  z-index: 0;
  inset: 0;

  opacity: 0;

  &.ready {
    opacity: 1;
    transition: opacity 0ms linear var(--duration-desktop-reveal-step); /* Follow menu bar reveal. */
  }
}

.zoomRect {
  pointer-events: none;
  position: absolute;
  color: var(--color-border);
  background: var(--dotted-frame);
}
