.desktop {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100dvh;

  background: var(--wallpaper) fixed;
}

.windowLayer {
  position: relative;
  z-index: var(--layer-desktop);
  overflow: hidden;
  flex: 1;
}
