.dialogBody {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 24px 16px;

  height: 100%;
  padding: 24px;

  font: var(--font-ui-large);

  & .icon {
    align-self: start;
    margin-top: -7px; /* Subtract internal leading in ChicagoFLF. */
    font: var(--font-chrome);
    font-size: 32px;
  }

  & .message {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-block: 5px; /* Center vertically with the icon. */

    & .title {
      font: var(--font-ui-large-bold);
    }
  }

  & .actions {
    display: flex;
    grid-column: 1 / -1;
    gap: 16px;
    justify-content: flex-end;
  }
}
