.toolbar {
  user-select: none;

  display: flex;
  flex: none;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  height: 36px; /* 32px +1px per border line, +2px for the gap between them. */
  padding-block-end: 3px;
  padding-inline: calc(4px + var(--window-safe-area-inline-start, 0px))
    calc(4px + var(--window-safe-area-inline-end, 0px));
  border-bottom: 1px solid var(--color-border);

  font: var(--font-ui);
  color: var(--color-foreground);

  /* Second border line. */
  background-image: linear-gradient(var(--color-border), var(--color-border));
  background-repeat: no-repeat;
  background-position: left bottom 2px;
  background-size: 100% 1px;
}

.date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
