.skipLink {
  @mixin panel;

  position: fixed;
  z-index: var(--layer-skip-link);
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - var(--layout-shadow-length)));

  padding: 4px 8px;

  font: var(--font-ui);
  color: var(--color-foreground);
  text-decoration: none;

  &:focus {
    transform: translate(
      calc(var(--layout-safe-area-left) + var(--layout-gutter)),
      calc(var(--layout-safe-area-top) + var(--layout-menu-bar-height) + var(--layout-gutter))
    );
  }
}
