.alert {
  user-select: none;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 28px;

  width: min(512px, calc(100% - 2 * var(--window-layer-padding)));
  padding: 24px;
  padding-inline-start: 36px;
  border: 1px solid var(--color-border);

  font: var(--font-chrome);
  color: var(--color-foreground);

  background: var(--color-background);

  animation: draw-alert 250ms steps(10, jump-start) both;

  &::before {
    pointer-events: none;
    content: "";

    position: absolute;
    inset: 2px;

    border: 2px solid var(--color-border);
  }

  &::backdrop {
    background: var(--color-scrim);
  }

  &:not([open]) {
    display: none; /* The grid declaration above overrides the browser's closed-dialog rule. */
  }

  &:not(:modal) {
    position: fixed;
    inset: 0;
    height: fit-content;
    margin: auto;
  }

  & .icon {
    align-self: start;
    font: var(--font-chrome);
    font-size: 48px;
    line-height: 48px;

    &.information {
      transform: translateY(-2px); /* Optical alignment to account for ChicagoFLF. */
    }

    &.error {
      transform: translateY(-3px); /* Optical alignment to account for ChicagoFLF. */
    }
  }

  & .message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 12px;
  }

  & .actions {
    display: flex;
    grid-column: 1 / -1;
    gap: 16px;
    justify-content: flex-end;
  }
}

@keyframes draw-alert {
  from {
    clip-path: inset(0 0 100% 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}
