.button {
  min-width: 102px;
  padding: 4px 12px;
  border: 1px solid var(--color-border);
  border-radius: 6px;

  font: var(--font-chrome);
  text-align: center;

  background: var(--color-background);

  &:focus-visible {
    outline: 2px solid var(--color-border);
    outline-offset: 1px;
  }

  &:active {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}
