.codeBlock {
  --focus-frame-inset: -2px;
  --copy-button-opacity: 0;

  composes: focusFrameWithin from global;
  position: relative;

  &:hover,
  &:focus-within {
    --copy-button-opacity: 1;
  }

  @media (hover: none) {
    --copy-button-opacity: 1;
  }
}

.copy {
  position: absolute;
  inset-inline-end: 4px;
  top: 4px;
  opacity: var(--copy-button-opacity);
}
