.icon {
  pointer-events: auto;
  cursor: default;
  user-select: none;

  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  color: var(--color-highlight-background);
  text-align: center;

  & .glyph,
  & .label {
    pointer-events: none;
  }

  & .glyph {
    --color-icon-background: var(--color-background-elevated);

    width: auto;
    height: 40px;
  }

  & .label {
    display: inline-flex;
    gap: 4px;
    align-items: center;

    padding: 0 4px;

    font: var(--font-ui);
    white-space: nowrap;

    background: var(--color-background-elevated);

    &.selected {
      color: var(--color-highlight-foreground);
      background: var(--color-highlight-background);
    }

    & .downloadIcon {
      flex: none;
      width: 10px;
      height: 12px;
    }
  }
}
