.loadingIndicator {
  --loading-indicator-hands: 8;
  --loading-indicator-step-ms: 100ms;

  & :global(.hand) path {
    --loading-indicator-hand-index: 0;

    animation: tick-watch-hand calc(var(--loading-indicator-hands) * var(--loading-indicator-step-ms)) step-end infinite;
    animation-delay: calc(
      (var(--loading-indicator-hand-index) - var(--loading-indicator-hands)) * var(--loading-indicator-step-ms)
    );

    &:nth-child(2) {
      --loading-indicator-hand-index: 1;
    }

    &:nth-child(3) {
      --loading-indicator-hand-index: 2;
    }

    &:nth-child(4) {
      --loading-indicator-hand-index: 3;
    }

    &:nth-child(5) {
      --loading-indicator-hand-index: 4;
    }

    &:nth-child(6) {
      --loading-indicator-hand-index: 5;
    }

    &:nth-child(7) {
      --loading-indicator-hand-index: 6;
    }

    &:nth-child(8) {
      --loading-indicator-hand-index: 7;
    }
  }

  & svg {
    width: 24px;
    height: 24px;
  }
}

.inline {
  display: inline-flex;
}

.fill {
  @mixin placeholder;
}

@keyframes tick-watch-hand {
  0% {
    opacity: 1;
  }

  12.5% {
    opacity: 0;
  }
}
