.menu {
  composes: chromePanel chromeText from global;

  position: absolute;
  z-index: var(--layer-menu);
  top: 100%;
  left: 0;

  min-width: 220px;
  padding: 4px 0;

  outline: none;
}

.item {
  cursor: default;
  user-select: none;

  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 31px;
  padding: 0 calc(var(--gutter) + 4px);
  border: 0;

  text-align: left;
  white-space: nowrap;

  background: transparent;

  &.active {
    color: var(--color-selection-foreground);
    background: var(--color-selection-background);
  }

  &.disabled {
    color: var(--color-foreground-muted);
  }
}

.shortcut {
  display: inline-flex;
  align-items: center;

  & .modifierIcon {
    transform: translateY(-1.5px);
    display: inline-block;
  }

  @media not all and (any-hover: hover) and (any-pointer: fine) {
    display: none;
  }
}

.accessory {
  width: 14px;
  height: 14px;
}

.separator {
  display: flex;
  align-items: center;
  height: 9px;
  padding: 0 1px;

  &::before {
    content: "";
    flex: 1;
    border-top: 1px dotted var(--color-border);
  }
}
