.scrollbar {
  user-select: none;

  display: flex;
  flex: none;
  flex-direction: column;

  width: var(--scrollbar-size);
  border-left: 1px solid var(--color-border);
}

.arrow {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  width: var(--scrollbar-size);
  height: var(--scrollbar-size);

  &.arrowUp {
    border-bottom: 1px solid var(--color-border);
  }

  &.arrowDown {
    border-top: 1px solid var(--color-border);
  }
}

.hidden {
  visibility: hidden;
}

.arrowIcon {
  --icon-foreground: var(--color-border);

  width: 20px;
  height: 20px;

  &.down {
    transform: rotate(180deg);
  }

  &.filled {
    --icon-background: var(--color-border);

    stroke: none;
  }
}

.track {
  position: relative;
  flex: 1;

  &.filled::before {
    content: "";

    position: absolute;
    inset: 0;

    background: var(--color-border);

    mask: url("../assets/images/scrollbar-track-background-pattern.svg") 0 0 / 4px 4px repeat;
  }
}

.thumb {
  position: absolute;
  right: 0;
  left: 0;

  border-block: 1px solid var(--color-border);

  background: var(--color-background);
}
