.scrollbar {
  user-select: none;

  display: flex;
  flex: none;
  flex-direction: column;

  width: calc(var(--scrollbar-width) + 1px); /* +1px for the border. */
  border-left: 1px solid var(--color-border);

  &[data-collapsed] {
    overflow: hidden;
    width: 0;
    border-left: none;
    visibility: hidden;
  }
}

.arrow {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  width: var(--scrollbar-width);
  height: var(--scrollbar-width);

  &.arrowUp {
    border-bottom: 1px solid var(--color-border);
  }

  &.arrowDown {
    border-top: 1px solid var(--color-border);
  }
}

.hidden {
  visibility: hidden;
}

.arrowIcon {
  --icon-foreground: var(--color-border);

  width: var(--scrollbar-width);
  height: var(--scrollbar-width);

  &.down {
    transform: rotate(180deg);
  }

  &.filled path {
    fill: var(--icon-foreground);
  }
}

.track {
  position: relative;
  flex: 1;

  &.filled::before {
    content: "";

    position: absolute;
    inset: 0;

    background: var(--color-border);

    mask: url("../assets/images/scrollbar-track-background-pattern.svg") 0 0 / 4px 4px repeat;
  }
}

.thumb {
  --thumb-proportion: 1; /* Set from JS. */
  --thumb-position: 0; /* Set from JS. */
  --thumb-min-height: 20px;
  --thumb-height: min(100%, max(var(--thumb-min-height), calc(var(--thumb-proportion) * 100%)));

  position: absolute;
  top: calc(var(--thumb-position) * (100% - var(--thumb-height)));
  right: 0;
  left: 0;

  height: var(--thumb-height);
  border-block: 1px solid var(--color-border);

  background: var(--color-background);
}
