.skipLink {
  composes: chromePanelElevated from "./shared.module.css";

  position: fixed;
  z-index: var(--layer-skip-link);
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - var(--shadow-length)));

  padding: 8px var(--gutter);

  font: var(--font-ui);
  color: var(--color-foreground);
  text-decoration: none;

  &:focus {
    transform: translate(var(--tooltip-margin), calc(var(--menu-bar-height) + var(--tooltip-margin)));
  }
}
