.skipLink {
  composes: panel from global;

  position: fixed;
  z-index: var(--layer-skip-link);
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - var(--shadow-length)));

  padding: 4px 8px;

  font: var(--font-ui);
  color: var(--color-foreground);
  text-decoration: none;

  &:focus {
    transform: translate(
      calc(var(--safe-area-left) + var(--gutter)),
      calc(var(--safe-area-top) + var(--menu-bar-height) + var(--gutter))
    );
  }
}
