.spinner {
  --hands: 8;
  --step-ms: 100ms;

  & :global(.hand) path {
    --hand-index: 0;

    animation: tick-watch-hand calc(var(--hands) * var(--step-ms)) step-end infinite;
    animation-delay: calc((var(--hand-index) - var(--hands)) * var(--step-ms));

    &:nth-child(2) {
      --hand-index: 1;
    }

    &:nth-child(3) {
      --hand-index: 2;
    }

    &:nth-child(4) {
      --hand-index: 3;
    }

    &:nth-child(5) {
      --hand-index: 4;
    }

    &:nth-child(6) {
      --hand-index: 5;
    }

    &:nth-child(7) {
      --hand-index: 6;
    }

    &:nth-child(8) {
      --hand-index: 7;
    }
  }
}

.inline {
  display: inline-flex;
}

.fill {
  composes: placeholder from global;

  & svg {
    width: 24px;
    height: 24px;
  }
}

@keyframes tick-watch-hand {
  0% {
    opacity: 1;
  }

  12.5% {
    opacity: 0;
  }
}
