.wrapper {
  position: relative;
  anchor-name: --tooltip;
  anchor-scope: --tooltip;

  display: inline-flex;
  align-self: stretch;
}

@position-try --tooltip-align-end {
  position-area: block-end span-inline-start;
  justify-self: end;
}

@position-try --tooltip-align-start {
  position-area: block-end span-inline-end;
  justify-self: start;
}

.tip {
  pointer-events: none;
  user-select: none;

  position: fixed;
  z-index: var(--layer-tooltip);
  position-anchor: --tooltip;
  position-area: block-end span-all;
  position-try-fallbacks:
    --tooltip-align-end,
    --tooltip-align-start,
    flip-block,
    --tooltip-align-end flip-block,
    --tooltip-align-start flip-block;

  justify-self: anchor-center;

  width: max-content;
  margin-block-start: var(--tooltip-margin);
  padding: 4px 8px;
  border: 1px solid var(--color-border);

  font: var(--font-ui);
  color: var(--color-foreground);
  letter-spacing: normal;
  white-space: nowrap;

  background: var(--color-background);
  box-shadow: var(--shadow-drop);

  @supports not (anchor-name: --tooltip) {
    position: absolute;
    top: calc(100% + var(--tooltip-margin));
    left: 50%;
    transform: translateX(-50%);

    margin-block-start: 0;
  }
}
