@font-face {
  font-family: ChicagoFLF;
  font-weight: 400;
  font-style: normal;

  font-display: block;
  src: url("./assets/fonts/ChicagoFLF.woff2") format("woff2");
}

:root {
  --color-light: #f3f2f1;
  --color-dark: #0f0e0d;
  --color-foreground: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-muted: rgb(from var(--color-foreground) r g b / 50%);
  --color-shadow: rgb(from var(--color-dark) r g b / 50%);
  --font-chrome: 16px "ChicagoFLF";
  --font-ui: 14px "Helvetica", "Helvetica Neue", system-ui;
  --font-ui-bold: bold 14px "Helvetica", "Helvetica Neue", system-ui;
  --letter-spacing-chrome: -0.01em;
  --drop-shadow: 2px 2px 0 var(--color-shadow);
  --menu-bar-height: 32px;
  --wallpaper: url("./assets/images/wallpaper.svg") repeat;
  --boot-step-ms: 300ms; /* The time it takes for each step of the boot sequence to complete */

  color-scheme: light dark;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
  overscroll-behavior: none;

  &[data-boot]::before {
    content: "";

    position: fixed;
    z-index: 9998;
    inset: 0;

    background: #000;
  }
}

body {
  margin: 0;
  color: var(--color-foreground);
}

a,
button,
div[role="button"] {
  padding: 0;
  border: 0;

  font: inherit;
  color: inherit;

  background: transparent;
  outline: none;
}
